<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---font awasome-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/reg_form.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="logo" id="logo">
        <h1><span class="fab fa-accusoft"></span><span> POWA</span></h1>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        
        <li><a href="/user/logout" class="sign-out-btn">Sign out</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="sidebar">
        <div><h1>Update data</h1></div>
        <div>
          <ul>
            <!-- <li><a href="/user/create"><span class="fas fa-users"></span>new admin</a></li> -->
            
            <li>
              <a href="/student/record"><span class="fas fa-list"></span>Students</a>
            </li>
            <li>
                <a href="/user/logout"><span class="fas fa-sign-out"></span>Sign out</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="profile-content">
        <div class="user">
          <!-- <div class="user-image">
                    <img src="./img/ceo.jpeg" alt="image" />
                </div> -->
          <div class="edit-form">
            <form method="post" action="/student/reg_form">
              <%
                let school;
                if(data.school == 1){
                  school = 'Nursary'
                }
                if(data.school == 2){
                  school = 'Primary'
                }
                if(data.school == 3){
                  school = 'Secondary'
                }
              %>

              <div class="persornal-info">
                <h3>Personal info</h3>
                <input type="text" name="name" value="<%= data.name %>" />
                <div class="name error"></div>
                <input type="email" name="email" value="<%= data.email %>" />
                <div class="email error"></div>
                <input type="text" class="gender" name="gender" value="<%= data.gender %>">
                <div class="gender error"></div>
                <input type="text" class="dob" name="dob" value="<%= data.dob %>">
                <div class="dob error"></div>
              </div>
              <div class="school-info">
                <h3>School info</h3>
                <input type="text" class="school" name="school" value="<%= school %>">
                <div class="school error"></div>
                <input type="text" class="sclass" name="sclass" value="<%= data.sclass %>">
                <div class="sclass error"></div>
              </div>
              <div class="parent-info">
                <h3>parent info</h3>
                <input type="text" name="pname" value="<%= data.parent.pname %>" />
                <div class="pname error"></div>
                <input type="email" name="pemail" value="<%= data.parent.pemail %>" />
                <div class="pemail error"></div>
                <input type="text" name="pphone" value="<%= data.parent.pphone %>" />
                <div class="pphone error"></div>
                <textarea name="address"><%= data.parent.address %></textarea>
                <div class="address error"></div>
              </div>
              <br>
              <button>update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const formEL = document.querySelector('form');
    const submitErrorEl = formEL.querySelector('button');
    const nameErrorEl = document.querySelector('.name.error');
    const emailErrorEl = document.querySelector('.email.error');
    const dobErrorEl = document.querySelector('.dob.error');
    const genderErrorEl = document.querySelector('.gender.error');
    const schoolErrorEl = document.querySelector('.school.error');
    const sclassErrorEl = document.querySelector('.sclass.error');
    const pnameErrorEl = document.querySelector('.pname.error');
    const pemailErrorEl = document.querySelector('.pemail.error');
    const pphoneErrorEl = document.querySelector('.pphone.error');
    const addressErrorEl = document.querySelector('.address.error');

    formEL.addEventListener('submit', async (e) =>{
        e.preventDefault();
        // console.log(formEL, submitEl);
        let name = formEL.name.value;
        let email = formEL.email.value;
        let dob = formEL.dob.value;
        let gender = formEL.gender.value;
        let school = formEL.school.value;
        let sclass = formEL.sclass.value;
        let pname = formEL.pname.value;
        let pemail = formEL.pemail.value;
        let pphone = formEL.pphone.value;
        let address = formEL.address.value;

        try{
            let formdata = {name, email, dob, gender, school, sclass, parent:{pname, pemail, pphone, address}};
            let url = '/student/record/edit/<%= data.parent._id %>';
            // console.log(formdata, url);
            let options = {
                method: 'PUT',
                body: JSON.stringify(formdata),
                headers: {'Content-Type':'application/json'}
            }
            const req = await fetch(url, options);
            const data = await req.json();
            console.log(data);
            // if(data.errors){
            //     nameErrorEl.textContent = data.errors.name;
            //     emailErrorEl.textContent = data.errors.email;
            //     dobErrorEl.textContent = data.errors.dob;
            //     genderErrorEl.textContent = data.errors.gender;
            //     schoolErrorEl.textContent = data.errors.school;
            //     sclassErrorEl.textContent = data.errors.sclass;
            //     pnameErrorEl.textContent = data.errors.pname;
            //     pemailErrorEl.textContent = data.errors.pemail;
            //     pphoneErrorEl.textContent = data.errors.pphone;
            //     addressErrorEl.textContent = data.errors.address;

            // }
            // if(data.student){
            //     location.assign('/invoice');
            // }
        }catch(err) {
            console.log(err.message);
        }     
    })
</script>
</html>
